

<h2>Enter Verifier's email</h2>
<form role="form" [formGroup]="notificationsForm" (ngSubmit)="onSubmit()" (ngClick)="onClick()">
    <div class="row">
      <div class="col-md-10">
        <div class="form-group">
          <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Search with email here"
            formControlName="email" />
        </div>
      </div>
      <div class="col-md-2">
        <button type="submit" class="btn btn-primary">
          Accept
        </button>

          <button ng-click="onClick()" >
          Decline
        </button>
      </div>
    </div>
  </form>